<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/commons::head">

<body>
<!-Navigation -->
<div th:replace="fragment/commons::nav"></div>

<!-Card item details->
<div class="small-container card-page" >

    <div th:if="${carts.isEmpty()}" th:text="HHHHHHHHHHH"></div>

    <table th:unless="${carts.isEmpty()}">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr th:each="c:${carts}"  th:object="${c}" >
            <td >
                <div  class="card-info">
                    <img src="/images/img_4.png" >
                    <div >
                        <p th:text="*{products.name}">Baby Food</p>
                        <small th:text="*{products.price}">Price: $55.00</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td th:text="*{count}"></td>
            <td th:text="*{totalPrice}">$55.00</td>
        </tr>
    </table>
    <div th:object="${order}"  class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td th:text="*{totalPrice}">$175.00</td>
            </tr>
        </table>
    </div>
    <a th:href="@{/order/buy}"  type="submit" class="buy-btn">Buy</a>
</div>


<!-Footer-->
<div th:replace="fragment/commons::footer"></div>


<script src="/js/toggleMenu.js"></script>
<script src="/js/dropdown.js"></script>


</body>
</html>