<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/commons::head">
<body>
<!-Navigation -->
<div th:replace="fragment/commons::nav"></div>

<!-Account page->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/images/ttt.jpg" width="400">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span >Login</span>
                    </div>
                    <form id="registerForm" th:action="@{/users/login}" method="POST"
                         >
                        <input th:field="${userLoginBindingModel.username}" th:value="${username}" title="text" placeholder="username">
                        <input th:field="${userLoginBindingModel.password}"  title="password" type="password" placeholder="password">
                        <p th:if="${bad_credentials}" class="errors alert alert-danger">
                            Invalid username or password.
                        </p>
                        <button type="submit" class="btn">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-Footer-->
<div th:replace="fragment/commons::footer"></div>

<script src="/js/toggleMenu.js"></script>
<script src="/js/dropdown.js"></script>
</body>
</html>