<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/commons::head">
</head>
<body>
<!-Navigation -->
<div th:replace="fragment/commons::nav"></div>

<!-Account page->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/images/ttt.jpg" width="400">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span  onclick="register()">Register</span>
                    </div>
                    <form id="registerForm" th:action="@{/users/register}" th:method="POST"
                          th:object="${userModel}">
                        <input th:field="*{username}" th:errorclass="is-invalid" title="text" placeholder="username">
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback errors alert alert-danger">
                            Username is required.
                        </p>
                        <input th:field="*{fullName}" th:errorclass="is-invalid" title="text" placeholder="fullName">
                        <p class="invalid-feedback errors alert alert-danger">
                            Full name is required.
                        </p>
                        <input th:field="*{email}"  th:errorclass="is-invalid" title="text" placeholder="email">
                        <p class="invalid-feedback errors alert alert-danger">
                            Email is required.
                        </p>
                        <input th:field="*{address}"  th:errorclass="is-invalid" title="text" placeholder="address">
                        <p class="invalid-feedback errors alert alert-danger">
                            Address is required.
                        </p>
                        <input th:field="*{password}" th:errorclass="is-invalid" title="password" type="password" placeholder="password">
                        <p class="invalid-feedback errors alert alert-danger">
                            Password is required.
                        </p>
                        <input th:field="*{confirmPassword}" th:errorclass="is-invalid" title="confirmPassword" type="password" placeholder="Confirm your passwor">
                        <p class="invalid-feedback errors alert alert-danger">
                            Confirmation password is required.
                        </p>
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-Footer-->
<div th:replace="fragment/commons::footer"></div>

<script src="/js/toggleMenu.js"></script>
<script src="/js/dropdown.js"></script>

</body>
</html>